.item {
  border: white solid 2px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 15px;
}
.display {
  background-color: greenyellow;
  color: white;
  font-size: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 35px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  color: white;
  font-size: 15px;
}
.stars {
  height: 25px;
  width: 150px;
  margin: 10px;
}
.delete {
  width: 20px;
  height: 20px;
}
button {
  border: transparent solid 2px;
  background-color: transparent;
}
